body{
    background-color: rgb(22, 22, 21);
    padding: 0%;
    margin: 0%;
}

.fonte{
    font-family: Arial;
    color: rgb(241, 241, 232);
}

.title{
    font-family: 'Arial';
    text-align: center;
}

.principal{
    font-family: 'Times New Roman';
    color:rgb(167, 153, 27)
}

.flex-container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    justify-content: space-evenly;
}

textarea{
    resize: none;
    justify-content: center;
}